* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    justify-content: space-evenly;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* box 2 */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    color: white;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box 3 */
.box3 {
    border: none;
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}

.input {
    background-color: #f3f3f3;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1rem;
}

.icon {
    width: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    border: none;

}

.box3:hover {
    border: 2px solid orange;
}

.small {
    font-size: 0.7rem;
}

.bold {
    font-size: 0.85rem;
    font-weight: 700;
}

.navcart i {
    font-size: 30px;


}

.navcart {
    font-size: 0.85rem;
    font-weight: 700;
}

/*Pannel*/
.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p{
    display : inline;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-d
{
    font-size: 0.85rem;
    font-weight: 700;
}
